<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fortune Cookie Request Result</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div id="bodyContainer">
      <a href="/">HOME</a>
      <h2>Request Information</h2>
      <%- info %>
      <h2>Request Result</h2>
      <%- result %>
    </div>
  </body>
</html>
